/* Coolors Exported Palette - coolors.co/33658a-86bbd8-2f4858-f6ae2d-f26419 */

/* RGB */
$color1: #33658a;
$color2: #86bbd8;
$color3: #2f4858;
$color4: #f6ae2d;
$color5: #f26419;
$section-bg-1: #ffffff;
$section-bg-2: #f8f7f8;