/* Coolors Exported Palette - coolors.co/33658a-86bbd8-2f4858-f6ae2d-f26419 */

/* RGB */
$color1: rgba(51, 101, 138, 1);
$color2: rgba(134, 187, 216, 1);
$color3: #2f4858;
$color4: #f6ae2d;
$color5: rgba(242, 100, 25, 1);
$section-bg-1: #ffffff;
$section-bg-2: #f8f7f8;