.footer-link{
    font-size: 1.25rem;
    margin: 0 0.5rem;
}

.card-footer{
    background-color: white;
}

.card-title{
    color: $color5;
}

.project{
    width: 100%;
    height: 500px;
    // margin-bottom: 2rem;
}

.project-content{
    font-size: 0.875rem;
}

.center-deck{
    margin: auto;
}
.card-deck{
    margin-left: 5.5rem;
}

.card-img-top{
    height: 275px;
}