@import 'palette';
@import 'screen_size';
@import 'navigation';
@import 'project';
@import 'contact';
@import 'jumbotron';

body {
    height:100%;
    width: 100%;
    padding-top: 56px;  /* To Account for fixed navbar  */
    position: relative;
}

.spacing-lg{
    margin-bottom: 5%;
}
.spacing-md{
    margin-bottom: 3%;
}
.spacing-sm{
    margin-bottom: 1%;
}

.btn-square {
    background: $color1;
	border-color:transparent;
	border-radius:0px;
	border-width: 2px;
	text-decoration: none;
	/* transition: 0.5s; */
}

.btn-inverse{
    background: white;
    border-color: $color1;
    color: $color1;
    border-width: 3px;
}

.bar{
	height:3px;
    width:30px;
	background-color: $color2;
}
.centre{
    margin: auto;
}

.footer {
    text-align: center;
    margin-bottom: 0;
}
.inline-icon{
    display: inline;
}

.icon-link, .icon-link:hover {
    text-decoration: none;
    color: $color1;
}

.section{
    padding: 5rem 0rem;
}
.section-header {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: $color3;
}

.section-subheader{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.section-bg-light{
    background-color: $section-bg-1;
}

.section-bg-dark{
    background-color: $section-bg-2;
}

.content{
    color: $color1;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.square-input{
    border-radius: 0;
}
