@import 'palette';
@import 'screen_size';
@import 'navigation';

body {
    height:100%;
    width: 100%;
    padding-top: 56px;  /* To Account for fixed navbar  */
}

.spacing-lg{
    margin-bottom: 5%;
}
.spacing-md{
    margin-bottom: 3%;
}
.spacing-sm{
    margin-bottom: 1%;
}

.btn-square {
    background: $color1;
	border-color:transparent;
	border-radius:0px;
	border-width: 2px;
	text-decoration: none;
	/* transition: 0.5s; */
}

.bar{
	height:3px;
    width:30px;
	background-color: $color1;
}
.centre{
    margin: auto;
}

.footer {
    text-align: center;
    margin-bottom: 0;
}
.inline-icon{
    display: inline;
}

.icon-link {
    text-decoration: none;
}

.section{
    padding: 1rem 0rem;
}
.section-header {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.section-bg-light{
    background-color: $section-bg-1;
}

.section-bg-dark{
    background-color: $section-bg-2;
}

