.jumbotron-header {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: $color1;
}

.jumbotron .btn-square:hover{
    color: $color1;
    background-color: white;
    border-color: white;
}

.jumbotron .content{
    color: $color4;
}