.jumbotron-header {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: $color1;
}

.jumbotron .btn-square:hover{
    color: $color1;
    background-color: white;
    border-color: white;
}

.jumbotron .content{
    color: $color4;
    font-weight: 700;
}

.jumbotron{
    // background-image: url("http://via.placeholder.com/1200x900");
    height: 45rem;
    background-position: center; 
    position: relative;
    background: transparent;
    padding-top: 0;
}

.jumbotron-bg{
    background-image: url("jumbotron_bg_9.jpg");
    opacity: 0.4;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center;
    left: 0;
}
.jumbotron .container{
    padding-top: 12rem;
}